<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:school-h5-web-dev.dx252.com</string>
		<string>applinks:school-h5-web-fat.dx252.com</string>
		<string>applinks:dpoker.club</string>
		<string>applinks:school-pc-web-fat.dx252.com</string>
		<string>applinks:school-pc-web-dev.dx252.com</string>
		<string>applinks:m.dpoker.club</string>
		<string>applinks:dxpokers.com</string>
		<string>applinks:m.dxpokers.com</string>
		<string>applinks:dpk360.com</string>
		<string>applinks:m.dpk360.com</string>
		<string>applinks:dx-poker.com</string>
		<string>applinks:m.dx-poker.com</string>
		<string>applinks:dpokers.com</string>
		<string>applinks:m.dpokers.com</string>
		<string>applinks:dpkclub.com</string>
		<string>applinks:m.dpkclub.com</string>
		<string>applinks:depokers.com</string>
		<string>applinks:m.depokers.com</string>
		<string>applinks:dpk.world</string>
		<string>applinks:m.dpk.world</string>
		<string>applinks:pokerdx.com</string>
		<string>applinks:m.pokerdx.com</string>
		<string>applinks:dpkstar.com</string>
		<string>applinks:m.dpkstar.com</string>
		<string>applinks:dpk001.com</string>
		<string>applinks:m.dpk001.com</string>
	</array>
</dict>
</plist>
